<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性的应用</title>
    <!-- 引入vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
</head>

<body>
    <div id="app">
        <table class="table">
            <thead>
                <th>编号</th>
                <th>作者姓名</th>
                <th>作者昵称</th>
                <th>注册时间</th>
                <th>操作</th>
            </thead>
            <tbody>
                <!-- <tr v-for="item in newUsers" :key="item.id"> -->
                <tr v-for="item in users" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.nickname}}</td>
                    <!-- <td>{{dateFormat(item.regtime)}}</td> -->
                    <td>{{item.regtime | formatDate}}</td>
                    <td>
                        <a href="" @click.self.prevent="toEdit(item)">修改</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    users:[]
                }
            }, methods: {
                // 查询用户
                findUser(){
                    $.ajax({
                        url:'http://106.54.117.183:8099/manager/user/findAllUser',
                        method:'get',
                        data:{},
                        success:res=>{
                            this.users = res.data;
                        }
                    });
                },
                // 修改
                toEdit(item){
                    console.log(item)
                    console.log(this)
                },
                // 处理时间格式
                dateFormat(time){
                    return moment(time).format('YYYY-MM-DD hh:mm:ss');
                }
            },
            created () {
                this.findUser();
            },
            computed: {
                newUsers(){
                    this.users.forEach(item=>{
                        item.regtime = moment(item.regtime).format('YYYY-MM-DD hh:mm:ss');
                    })
                    return this.users;
                }
            },
            filters: {
                formatDate(time){
                    return moment(time).format('YYYY-MM-DD hh:mm:ss');
                }
            }
        })  
    </script>
</body>

</html>